
<h3>ADD A NEW RESTAURANT</h3>


<form id="newForm" action="/" method="post" accept-charset="utf-8">

    <label>Name:</label>
    <input type="text" value="" name="restaurant[name]"/>

    <label>Photo:</label>
    <input type="text" value="" name="restaurant[photo]"/>

    <label>Type:</label>
    <input type="text" value="" name="restaurant[type]"/>

    <label>Phone:</label>
    <input type="text" value="" name="restaurant[phone]"/>

    <label>Street:</label>
    <input type="text" value="" name="restaurant[address.street]"/>
    <label>City:</label>
    <input type="text" value="" name="restaurant[address.city]"/>
    <label>State:</label>
    <input type="text" value="" name="restaurant[address.state]"/>
    <label>Zipcode:</label>
    <input type="text" value="" name="restaurant[address.zipcode]"/>

    <label>Menu Link:</label>
    <input type="text" value="" name="restaurant[menuLink]"/>

    <label>Delivery:</label>
    <input type="text" value="" name="restaurant[delivery]"/>


  <input type="submit" value="Create" />

</form>
